<div class="jumbotron">
  <h1 class="display-4">CMSLearn Dashboard</h1>
  <p class="lead">Welcome <%= current_user.full_name %></p>
  <hr class="my-4">
  <p><b><%= current_semester.name %> semester:</b><br>End date: <%= current_semester.end_date.strftime '%Y-%m-%d' %><br>Days Remaining: <%= (current_semester.end_date - Date.today).to_i %> days.</p>
</div>


