<h1>CMSLearn Dashboard</h1>
<h3>Welcome <%= current_user.full_name %></h3>

<%= render 'profile' %>

<% if admin? %>
  <%= render 'admin_user_registrations' %>
<% else %>
  <%= render 'user_registrations' %>
<% end %>
