@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.navbar {
  margin-bottom: 0;
  background: black;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
}

a:visited {
  color: #007bff;
}

.jumbotron {
  h1 {
    font-size: 2rem;
  }
  padding: 2rem 2rem;
  background-color: #181818;
}

.card {
  background-color: #181818;
}

.link {
  color: white;
}

.btn-primary {
  margin-bottom: 5px;
}

.btn-sm {
  background-color: white;
  display: inline-block;
}

img, video, audio {
  margin-top: 20px;
  max-width: 80%;
}

caption {
  float: left;
  clear: both;
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1640px;
}

mark {
  background-color: #FFD700;
  font-style: italic;
}

.my-4 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  background-color: #A9A9A9;
}

table, th, td {
  border: 1px solid #181818;
}

th, td {
  color: white;
}

.text-muted {
  color: #A9A9A9 !important;
}

.navbar {
  background: #181818;
}

body {
  background-color: black;
  color: white;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.modal-dialog {
  background-color: #181818 !important;
  color: #181818 !important;
}

.form-control {
  background-color: #343a40 !important;
  border: none;
  color: white !important;
}

input, select, textarea {
  color: white;
}
