@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;

.navbar {
  margin-bottom: 0;
  background: $black;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
}

a:visited {
  color: #007bff;
}

.jumbotron {
  h1 {
    font-size: 2rem;
  }
  padding: 2rem 2rem;
}

.link {
  color: $white;
}

.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
}

.btn-sm {
  background-color: $white;
  display: inline-block;
}

img, video, audio {
  margin-top: 20px;
  max-width: 80%;
}

caption {
  float: left;
  clear: both;
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1640px;
}

mark {
  background-color: #FFD700;
  font-style: italic;
}

.my-4 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

table, th, td {
  border: 1px solid black;
}
